* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif !important;
}

h3 {
  color: black !important;
}
p {
  color: black;
}

img {
  object-fit: fill;
}

a {
  color: black !important;
  text-decoration: none !important;
}
